<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    

    <style>
    
    .box{
        background-color: rgb(194, 228, 240);
        border: 2px solid black;
        padding: 12px;
        display: block;
        padding-right: 100px;
        border-radius: 10px;
    }
    
    



    </style>
</head>
<body>
    
    <h2>About me</h2>
    <div class="box">
    <p><h2>This is About Me Section</h2></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eveniet, iure iusto culpa explicabo rem! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque illum dicta sint maxime modi saepe? Aut tempore eos ipsa facilis voluptate incidunt numquam, blanditiis repudiandae ut. Vel fugit assumenda reprehenderit quasi asperiores ut labore?</p>
    </div>


    
</body>
</html>