<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>

    <style>
.box{
        background-color: rgb(194, 228, 240);
        border: 2px solid black;
        padding: 12px;
        display: block;
        padding-right: 100px;
        border-radius: 10px;
    }
    
    

    </style>
</head>
<body> 
    
    <h2>Contact</h2>
    <div class="box">
    <p><h2>This is Contact Section</h2> </p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus sunt, ipsa consequuntur voluptates natus porro? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, at commodi cumque distinctio dolore recusandae molestiae voluptatum dolores accusantium illo dignissimos consequatur voluptate. Fugit voluptatibus sint atque, suscipit optio perspiciatis vitae ducimus. Quod, quo?</p>
    </div>


    
</body>
</html>