<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>

    <style>
    
    .box{
        background-color: rgb(194, 228, 240);
        border: 2px solid black;
        padding: 12px;
        display: block;
        padding-right: 100px;
        border-radius: 10px;
    }
    





    </style>
</head>
<body>
    
    <h2>Projects</h2>
    <div class="box">
    <p><h2>This is Projects Section</h2></p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius excepturi amet cupiditate! Explicabo, nam deserunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis aut, earum, corrupti vel commodi rem distinctio possimus impedit quaerat ipsum ducimus, rerum voluptas. Odit beatae dignissimos amet deserunt officia consequuntur nisi voluptas perspiciatis rem!</p>
    </div>


    
</body>
</html>