<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    
    

    <style>
    
    .box{
        background-color: rgb(194, 228, 240);
        border: 2px solid black;
        padding: 12px;
        display: block;
        padding-right: 100px;
        border-radius: 10px;
    }
    




    </style>
</head>
<body>
    
    <h2>Skills</h2>
    <div class="box">
    <p><h2>This is Skills Section</h2></p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia cupiditate ullam deleniti perferendis, nisi praesentium! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi possimus obcaecati placeat! Quidem beatae consectetur, temporibus quam harum consequatur laboriosam, cumque quaerat, deserunt explicabo dolor voluptas iste rerum a fugiat ea porro alias nihil?</p>
    </div>
    




    
</body>
</html>