* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {

    color: #ededed;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    background: transparent;
}

.item {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;

}

.item:hover {
    color: #d76ad7;
}

.navbar a {

    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover {
    color: blueviolet;

}


.home {
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0 10%;

    background: url('../bg1.jpg') no-repeat;

    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;

}

.home-content p {
    font-size: 17px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    width: 330px;
    height: 40px;


}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 7px;
    font-size: 19px;

    text-decoration: none;
    font-weight: 600;
    color: whitesmoke;

}



.btn-box a:hover {
    color: yellow;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;

    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;

}

.home-sci a:hover {
    color: #d76ad7;

}